<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}My Blog{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static 'blog/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'blog/custom.min.css' %}">

    <script>

     var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23019901-1']);
      _gaq.push(['_setDomainName', "bootswatch.com"]);
        _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

    </script>
    <script src="https://kit.fontawesome.com/bbf981ac49.js" crossorigin="anonymous"></script>
</head>

<body>


{% include 'basecamp/navbar.html' %}

{% block content %}

{% endblock %}
</div>

</div>
</div>


<script src="{% static 'blog/jquery.min.js' %}"></script>
<script src="{% static 'blog/popper.min.js' %}"></script>
<script src="{% static 'blog/bootstrap.min.js' %}"></script>
<script src="{% static 'blog/custom.js' %}"></script>

</body>
</html>