<!DOCTYPE html>
<html lang="en">
  {% extends 'basecamp/base_full.html' %} {% load static %} {% block content %}

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>Blog</title>
    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>

    <link
      href="{% static 'blog/_assets/css/bootstrap.min.css' %}"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link href="{% static 'blog/_assets/css/product.css' %}" rel="stylesheet" />
    <py-env>
      - pandas 
      <!-- - numpy 
      - matplotlib.pyplot -->
    </py-env>
  </head>
  <body>
    <main>
      <div
        class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light"
      >
        <div class="col-md-5 p-lg-2 mx-auto my-5">
          <h1 class="display-4 fw-normal">Playing with Pyscript</h1>
          <p class="lead fw-normal">
            PyScript is a framework that allows users to create rich Python
            applications in the browser using HTML's interface and the power of
            Pyodide, WASM, and modern web technologies. The PyScript framework
            provides users at every experience level with access to an
            expressive, easy-to-learn programming language with countless
            applications.
          </p>
        </div>
        <div class="product-device shadow-sm d-none d-md-block">
          <img class="img-fluid" src="{% static 'images/pyscript1.png' %}" />
        </div>
        <div
          class="product-device product-device-2 shadow-sm d-none d-md-block"
        >
          <img class="img-fluid" src="{% static 'images/pyscript1.png' %}" />
        </div>
      </div>
      <br />

      <div class="container">
        <h1 class="display-6 fw-normal">
          My REPL
          <small class="text-muted">supported by Pyscript</small>
        </h1>
        <p class="text-info">
          Tip : Press Shift-Enter to evaluate a cell
        </p>
        <py-repl class="my-repl" auto-generate="" true>
          import pandas as pd

        </py-repl>
      </div>
      <br />
      <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        <div
          class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden"
        >
          <div class="my-3 py-3">
            <h2 class="display-5">Under Construction</h2>
            <p class="lead">And an even wittier subheading.</p>
          </div>
          <div
            class="bg-light shadow-sm mx-auto"
            style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"
          ></div>
        </div>
        <div
          class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"
        >
          <div class="my-3 p-3">
            <h2 class="display-5">Under Construction</h2>
            <p class="lead">And an even wittier subheading.</p>
          </div>
          <div
            class="bg-dark shadow-sm mx-auto"
            style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"
          ></div>
        </div>
      </div>
    </main>

    <script
      src="{% static 'blog/_assets/js/bootstrap.bundle.min.js' %}"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
  {%endblock %}
</html>
