<!--네이게이션바-->
{% load static %}
<div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <div class="container">
    <div class="col-sm-1"><a href = "/"></a>
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
      <lottie-player
        src="https://assets4.lottiefiles.com/packages/lf20_5l4tiphk.json"
        background="transparent"
        speed="1"
        style="width: 100px; height: 100px;"
        loop
        autoplay
      ></lottie-player>
    </div>
    <a href="/" class="navbar-brand">Kstyle7</a>

  
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/about_me/">About Me</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog_history/">Blog History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog_time/">Time</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog_covid/">Covid 19</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            href="#"
            id="download"
          >
            Dropdown
            <span class="caret"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="download">
            <a
              class="dropdown-item"
              rel="noopener"
              target="_blank"
              href="#"
            >
            drop1</a>
            <div class="dropdown-divider"></div>
            <a
              class="dropdown-item"
              href="#"
              download
            >
            download
            </a>
            <a class="dropdown-item" href="#" download>
              download
            </a>
            <div class="dropdown-divider"></div>
            <a
              class="dropdown-item"
              href="#"
              download
            >
            download
            </a>
            <a
              class="dropdown-item"
              href="#"
              download
            >
            download
            </a>
          </div>
        </li>
      </ul>
      <div class="col-sm-1"><a href = "/"></a>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player
          src="https://assets5.lottiefiles.com/packages/lf20_hzyzmdld.json"
          background="transparent"
          speed="1"
          style="width: 200px; height: 100px;"
          loop
          autoplay
        ></lottie-player></div>

      <ul class="navbar-nav ms-md-auto">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a
          class="nav-link dropdown-toggle btn btn-outline-success"
          data-bs-toggle="dropdown"
          href="#"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          style="width: 100%;"
          >
          {{user}}
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/accounts/logout/">Log-out</a>
          </div>
        </li>
        {% else %}
        <li class="nav-item">
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#loginModal"
          >
            Login
          </button>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>

{% load socialaccount %}
<!-- Modal -->
<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Please Log-in</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          aria-hidden="true"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <a
              role="button"
              class="btn btn-outline-primary"
              href="{% provider_login_url 'google' %}"
            >
              <i class="fab fa-google"></i>
              Login with Google
            </a>
            <a
              role="button"
              class="btn btn-outline-info"
              href="/accounts/login/"
            >
              <i class="fab fa-google"></i>
              Login with Email
            </a>
          </div>
          <div class="col-md-6">
            <a
              role="button"
              class="btn btn-outline-info"
              href="/accounts/signup/"
            >
              <i class="far fa-envelope"></i>
              Sign Up with Email
            </a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
</div>

